:root {
    --white-color-1: #ffffff;
    --black-color-1: #1c1c1c;
    --text-color-white-1: #d9d9d9;
    --background-color-1: #1d2428;
    --thead-color-1: #2c2c2c;
    --td-color-1: #232323;
    --output-display-1: #2e2e2e;
}

.p-h-text {
    color: var(--white-color-1);
}

a{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1d2428;
    padding: 50px;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    flex-wrap: wrap;
}

.small-box-button {
    width: 30%;
    height: 40px;
    margin-bottom: 2%;
    background-color: var(--black-color-1);
    color: var(--white-color-1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px #000000
}
.small-box-button:hover {
    background-color: #0056b3;
    box-shadow: 10px 10px 20px #000000
}

.box-button {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: var(--black-color-1);
    color: var(--white-color-1);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    box-shadow: 5px 5px 10px #000000
}
.box-button:hover {
    background-color: #0056b3;
    box-shadow: 10px 10px 20px #000000
}
.developed{
    color: #000000;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-color: 10px 10px 10px #000000;
}