body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dedede;
    padding: 50px;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    flex-wrap: wrap;
}
.box-button {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    box-shadow: 5px 5px 10px #000000
}
.box-button:hover {
    background-color: #0056b3;
    box-shadow: 10px 10px 20px #000000
}
.developed{
    color: #dedede;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    border-color: 10px 10px 10px #ffffff;
}